/* Slicebox Style */
.sb-slider {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
}

.sb-slider li > a {
	outline: none;
}

.sb-slider li > a img {
	border: none;
}

.sb-slider img {
	max-width: 100%;
	display: block;
}

.sb-description {
	font-family: Nasa;
	font-size:11pt;
	padding: 2%;
	position: absolute;
	bottom: 10px;left: 12px;right: 10px;
	z-index: 1000;
	background: linear-gradient(90deg,rgba(80,80,80, 0.54) 0%,rgba(80,80,80,0) 100%);
	border-left: 4px solid rgba(250,250,250,0.5);
	filter: alpha(opacity=0);	
	opacity: 0;
	color: rgba(250,250,250,0.5);

	transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
	filter: alpha(opacity=80);	
	opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
	filter: alpha(opacity=99);	
	background: linear-gradient(90deg,rgba(80,80,80, 0.8) 0%,rgba(80,80,80,0.36) 100%);
	color:rgba(250,250,250,0.9);
	border-left: 4px solid rgba(250,250,250,0.9);
}

.sb-perspective {
	position: relative;
}

.sb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}

.sb-side {
	margin: 0;
	display: block;
	position: absolute;

	-moz-backface-visibility : hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
